.editor {
	background-color: #384059;
	color: #fff;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	grid-area: editor;
}

.editor div {
	width: 100%;
	background-color: #384059;
	color: #fff;
	border: none;
	font-size: 1rem;
}

.editor section:hover {
	background-color: #222a43;
}

.bar {
	width: 100%;
	height: 100%;
	background-color: #1f263b;
	color: #fff;
	padding: 10px;
	overflow-x: hidden;
	overflow-y: auto;
	grid-area: bar;
}

.bar p {
	margin-bottom: 0;
}

.options {
	background-color: #45a1fe;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	grid-area: options;
}

.options button {
	padding: 0 10px;
	border: none;
	width: 33.33%;
	color: #fff;
	font-weight: 600;
}

.playButton {
	background-color: #35bd94;
}

.openButton {
	background-color: #45a1fe;
}

.logoutButton {
	background-color: #ff5a5f;
}

.container {
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 94vh 6vh;
	grid-template-areas: "bar editor" "options editor";
}